VITE_AI_API_KEY=s
VITE_AI_CREATIVE_MODEL_NAME=
VITE_AI_CREATIVE_MODEL_ENDPOINT=
VITE_AI_PRECISE_MODEL_NAME=
VITE_AI_PRECISE_MODEL_ENDPOINT=
VITE_AI_BALANCED_MODEL_NAME=
VITE_AI_BALANCED_MODEL_ENDPOINT=
VITE_SUPABASE_ANON_KEY=
VITE_SUPABASE_URL=
